.header {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 20px 15px;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    width: 119px;
    height: 56px;
  }
  &-link:not(:last-child) {
    margin-right: 50px;

    @media screen and (max-width: 930px) {
      margin-right: 20px;
    }
  }
  &-link {
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  &-link:hover {
    font-size: 18px;
    color: brown;
  }

  &-logos {
    display: flex;
    gap: 24px;
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  &-menu {
    display: none;
    @media screen and (max-width: 760px) {
      display: block;
    }
  }
}
