.culture {
  margin-top: 48px;
  background: #ee4248;
  padding: 48px 0;
  &-row {
    display: flex;
  }
  &-text {
    width: 50%;
  }
  &-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: #fff;
    padding-bottom: 58px;
  }
  &-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: #fff;
    padding-right: 100px;
  }
  &-image {
    border-radius: 8px;
    width: 560px;
    height: 364px;
  }
}
