.dwidasa {
  padding: 58px 0 74px 0;
  &-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 141%;
    color: #263238;
    padding-bottom: 58px;
  }
  &-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 141%;
    text-align: justify;
    color: #263238;
  }
  &-red-color {
    color: $dwidasa-red;
  }
}
